@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button{
  background-color: rgba(134, 204, 248, 0.822);
  color: rgba(88, 27, 233, 0.918);
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

:checked + label{
  text-decoration: line-through;
  color: gray;
}
